@charset "EUC-KR";
body{
    		display:flex;
    		flex-direction : column;
    		align-items:center;
    	}
    	.userCharacter{
    		object-fit : cover;
    		width : 80px;
    		heigth : 120px;
    	}
    	#miniroom{
    		display:flex;
    		align-items:flex-end;
    		justify-content:space-around;
    		width : 736px;
    		height : 359px;
    		border : 1px solid black;
    		border-radius : 10px;
    		z-index : 6;
    	}
    	#miniroom_background{
    		position:absolute;
    		object-fit : cover;
 			width : 736px;
 			height :359px;
 			z-index : 1;
 			border-radius:10px;
    	}
    	#chatArea{
    		width:736px;
    		heigth : 214px;
    		border-radius : 5px;
    		padding : 10px;
    		display:flex;
    		align-items:center;

    		box-sizing : border-box;
    	}
    	.setting{
    		display:flex;
    		width : 736px;
    		margin-top : 10px;
    		align-items:center;
    		justify-content:space-between;
    	}
    	.user{
    		display:flex;
    		position:relative;
    		flex-direction:column;
    		align-items:center;
    		z-index : 6;
     	}
    	.sayBox{
    		position : absolute;
    		max-width : 200px;
    		border :1px solid black;
    		background-color : white;
    		padding:5px;
    		border-radius : 5px;
    		animation: fadeout 3s;
			  -moz-animation: fadeout 3s; /* Firefox */
			  -webkit-animation: fadeout 3s; /* Safari and Chrome */
			  -o-animation: fadeout 3s; /* Opera */
			  animation-fill-mode: forwards;
			overflow-x : hidden;
			word-break: break-all;
			word-wrap:break-word;
			z-index:6;
    	}
    	#inputArea{
    		width : 736px;
    		padding : 10px;
    		border : 1px solid black;
    		border-radius : 5px;
    		box-sizing : border-box;
    	}
		@keyframes fadeout {
		    from {
		        opacity: 1;
		    }
		    to {
		        opacity: 0;
		    }
		}
		@-moz-keyframes fadeout { /* Firefox */
		    from {
		        opacity: 1;
		    }
		    to {
		        opacity: 0;
		    }
		}
		@-webkit-keyframes fadeout { /* Safari and Chrome */
		    from {
		        opacity: 1;
		    }
		    to {
		        opacity: 0;
		    }
		}
		@-o-keyframes fadeout { /* Opera */
		    from {
		        opacity: 1;
		    }
		    to {
		        opacity: 0;
		    }
		}
		.input_title{
			font-size : 20px;
			color : #80A46F;
		}
		#messageInput {
		width: 500px ;
		height: 20px ;
		font-size: 12px ;
		margin: 0px 10px;
		}
		#chatArea2{
			width : 736px;
			height : 200px;
			border : 1px solid black;
			border-radius : 5px;
			display:flex;
			flex-direction : column;
			background-color : #F2F2F2;
			overflow-y : scroll;
			margin : 10px 0px;
		}

		.chat{
			max-width : 200px;
			padding : 5px;
			border-radius : 10px;
			display:flex;
			word-break: break-all;
			word-wrap:break-word;
		}
		.myChatBox{
			align-self : flex-end;
			
		}
		.otherChatBox{
			align-self : flex-start;
			
		}
		.myChat{
			align-self : flex-end;
			background-color : #F8F6E3;
		
		}
		.otherChat{
			align-self : flex-start;
			background-color : #FEFEFE;
		}
		.chatBox{
			display:flex;
			flex-direction :column;
			background-color : none;
			margin : 5px 10px;
		}
		.chatName{
			font-size : 10px;
			margin : 5px 10px;
			align-self :inherit;
		}
		.notice{
			max-width : 200px;
			padding : 5px;
			border-radius : 10px;
			display:flex;
			word-break: break-all;
			word-wrap:break-word;
			background-color : #C0E5AF;
		}
		.miniroom_header{
			display:flex;
			flex-direction:column;
			width:90%;
		}