@charset "EUC-KR";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userCharacter {
	object-fit: cover;
	width: 80px;
}

#miniroom {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	width: 736px;
	height: 359px;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 6;
}

#miniroom_background {
	position: absolute;
	object-fit: cover;
	width: 736px;
	height: 359px;
	z-index: 1;
	border-radius: 10px;
}

#chatArea {
	width: 736px;
	heigth: 214px;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.setting {
	display: flex;
	width: 736px;
	margin-top: 10px;
	align-items: center;
	justify-content: space-between;
}

.user {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	font-size:20px;
	z-index: 6;
}

.sayBox {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	animation: fadeout 1.5s;
	-moz-animation: fadeout 1.5s; /* Firefox */
	-webkit-animation: fadeout 1.5s; /* Safari and Chrome */
	-o-animation: fadeout 1.5s; /* Opera */
	animation-fill-mode: forwards;
	overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
	font-size:20px;
	z-index: 6;
}

#inputArea {
	width: 736px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	box-sizing: border-box;
}

@keyframes fadeout {

to {
	display:none;
}

}
@-moz-keyframes fadeout {

to {
	display:none;
}

}
@-webkit-keyframes fadeout { 

to {
	display:none;
}

}
@-o-keyframes fadeout {

to {
	display:none;
}

}
.input_title {
	font-size: 20px;
	color: #80A46F;
}

#messageInput {
	width: 500px;
	height: 20px;
	font-size: 20px;
	margin: 0px 10px;
}

#chatArea2 {
	width: 736px;
	height: 200px;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	overflow-y: scroll;
	margin: 10px 0px;
}

.chat {
	max-width: 200px;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	word-break: break-all;
	word-wrap: break-word;
	font-size : 20px;
}

.myChatBox {
	align-self: flex-end;
}

.otherChatBox {
	align-self: flex-start;
}

.myChat {
	align-self: flex-end;
	background-color: #F8F6E3;
}

.otherChat {
	align-self: flex-start;
	background-color: #FEFEFE;
}

.chatBox {
	display: flex;
	flex-direction: column;
	background-color: none;
	margin: 5px 10px;
}

.chatName {
	font-size: 16px;
	margin: 2px 10px;
	align-self: inherit;
}

.notice {
	max-width: 200px;
	font-size : 20px;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #C0E5AF;
}

.miniroom_header {
	display: flex;
	flex-direction: column;
	width: 90%;
}

