
/* inner-box-2의 게시판 텍스트 스타일 */
.board-title {
    color: #80A46F; 
    text-align: center; 
    font-size: 36px; 
    font-weight: 600; 
    position: absolute; 
    top: 0px; 
    left: 30px; 
    display: inline-block;
}



.board-header {  /* 밑줄 */
    position: absolute; /* 상단 고정 */
    top: 75px; /* 위치 조정 */
    left: 30px; /* 왼쪽 여백 조정 */
    width: calc(100% - 60px); /* 양쪽 여백을 고려한 너비 */
    border-bottom: 1px solid #BAB9AA; /* 밑줄 색상 및 두께 */

}


 
/* inner-box-2의 내용이 가운데 정렬*/
.inner-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.folder-container {
    width: 90%;
    height: 800px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 20px;
    border: 2px dashed #bbb;  
    border-radius: 15px;      
    background-color: #FBF7E1; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.folder-manage-button {
     width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
	left: 0;
}




.board-line {
    border-bottom: 1px solid #BAB9AA; /* 실선 색상 및 두께 */
    width: calc(100% - 55px); /* 실선의 너비 */
    position: absolute; 
    top: 80px; 
    left: 25px; 
}

.folder-input-container {
    display: none; /* 처음에는 숨겨져 있도록 설정 */
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;    
    position: absolute; 
    margin: 0 0 -535px -125px;
    left: 50%; 
    
}





.folder-input-container input {
    width: 70%;
    padding: 5px;
    border: none;
    outline: none;
}

